@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL RESET */
body {
  background: radial-gradient(circle at top, #020617, #000000);
  color: white;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #093669;
  border-radius: 10px;
}

/* GLASS EFFECT UTILITY */
.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* GLOW TEXT */
.glow-text {
  text-shadow: 0 0 10px rgba(33, 17, 121, 0.7);
}